In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sfrei\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sfrei\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/11.0 MB 11.7 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 11.3 MB/s eta 0:00:00
Downloading numpy-2.3.5-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ------- -------------------------------- 2.4/12.8 MB 11.7 MB/s eta 0:00:01
   -------------- ------------------------- 4.7/12.8 MB 11.7 MB/s eta 0:00:01
   ---------------------- ----------------- 7.1/12.8 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.8 MB 11.7 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.8 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 11.4 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.5 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import csv

In [ ]:
#Criando um dicionário com todos os caminhos dos arquivos. Isso vai ser bom porque utilizarei as chaves para criar uma coluna de "Ano"
arquivos = {
    '2019': 'notebooks/data/dados_servidores_2019.csv',
    '2020': 'notebooks/data/dados_servidores_2020.csv',
    '2021': 'notebooks/data/dados_servidores_2021.csv'
}

lista_dataframes = [] #Para armazenar todos os dataframes

for ano, arquivo in arquivos.items():
    try:  
        df = pd.read_csv(arquivo, encoding="utf-8")

        lista_dataframes.append(df)

    except Exception as e:
        print(f"Erro ao ler os dados do ano {ano}: {e}")


df_raw = pd.concat(lista_dataframes, ignore_index=True) #Concatenando todos os DFs



print(f"Total de linhas e colunas no df unificado: {df_raw.shape}")

Total de linhas e colunas no df unificado: (470623, 34)

In [70]:
# Copia do df carregado para não precisarmos rodar a importação toda vez ue precisarmos
# voltar ao df original.
df = df_raw.copy()
df.head()

,asalseanoo,asalsemess,csalseccpf,csalsematr,nsalsenome,nsalseempr,nsalsecate,nsalsecarg,nsalsefunc,vsalsecarg,...,esalseunidade,dslderadmissao,dslserdesligamento,aslserjornadamensal,esalseinstrucao,esalsegenero,dsalseaposentadoria,esalseadministracao,eslserlotacao,eselsesituacao
0,2019,4,***040714**,4480,EVERALDO PADRE DA SILVA,CTTU,CELETISTAS,VIGILANTE,SEM INFORMACAO,1198.8,...,SETOR DE SERVICOS ADMINISTRATIVOS,1991-08-30,2021-11-01,220.0,Mdio Completo,Masculino,NaN,Indireta,CTTU,Desligado/Exonerado
1,2019,4,***105614**,4529,JOSE ARTUR SEABRA,CTTU,CELETISTAS,VIGILANTE,SEM INFORMACAO,1198.8,...,SETOR DE SERVICOS ADMINISTRATIVOS,1991-09-05,2021-10-01,220.0,Mdio Completo,Masculino,NaN,Indireta,CTTU,Desligado/Exonerado
2,2019,4,***507834**,512222,VICTOR FELIX SILVA MELO,CTTU,ESTAGIARIOS,ESTAGIARIO,SEM INFORMACAO,0.0,...,SETOR DE PROCESSAMENTO DE MULTAS,2019-01-16,2019-07-31,110.0,Mdio Incompleto,Masculino,NaN,Indireta,CTTU,Desligado/Exonerado
3,2019,4,***256834**,512230,DAIANNA M C MAIA DE OLIVEIRA,CTTU,ESTAGIARIOS,ESTAGIARIO,SEM INFORMACAO,0.0,...,GESTAO DE UNID. DE MOB. SUSTENTAVEL,2019-02-01,2019-11-30,110.0,Mdio Incompleto,Feminino,NaN,Indireta,CTTU,Desligado/Exonerado
4,2019,4,***026244**,512249,ENILTON RUAN M DOS SANTOS,CTTU,ESTAGIARIOS,ESTAGIARIO,SEM INFORMACAO,0.0,...,SETOR DE PROCESSAMENTO DE MULTAS,2019-02-01,2020-12-31,110.0,Mdio Incompleto,Masculino,NaN,Indireta,CTTU,Desligado/Exonerado

In [75]:
dict_dados = [
      {
        "codigo": "asalseanoo",
        "descricao": "ANO",
      },
      {
        "codigo": "asalsemess",
        "descricao": "MES",

      },
      {
        "codigo": "csalseccpf",
        "descricao": "CPF",

      },
      {
        "codigo": "csalsematr",
        "descricao": "MATRICULA",

      },
      {
        "codigo": "nsalsenome",
        "descricao": "NOME",

      },
      {
        "codigo": "nsalseempr",
        "descricao": "SECRETARIA/ORGAO",

      },
      {
        "codigo": "nsalsecate",
        "descricao": "CATEGORIA",

      },
      {
        "codigo": "nsalsecarg",
        "descricao": "CARGO",

      },
      {
        "codigo": "nsalsefunc",
        "descricao": "FUNCAO",

      },
      {
        "codigo": "vsalsecarg",
        "descricao": "VENCIMENTO CARGO",

      },
      {
        "codigo": "vsalsefunc",
        "descricao": "VENCIMENTO FUNCAO",

      },
      {
        "codigo": "vsalseremu",
        "descricao": "REMUNERACAO",

      },
      {
        "codigo": "vsalseferi",
        "descricao": "VENCIMENTO FERIAS",

      },
      {
        "codigo": "vsalsenatl",
        "descricao": "VENCIMENTO NATAL",

      },
      {
        "codigo": "vsalseoutr",
        "descricao": "VENCIMENTOS OUTROS",

      },
      {
        "codigo": "vsalseprov",
        "descricao": "TOTAL PROVENTOS",

      },
      {
        "codigo": "vsalsedxcd",
        "descricao": "DESCONTOS EXCEDENTES",

      },
      {
        "codigo": "vsalsedrst",
        "descricao": "DESCONTO FALTA OU RESTITUICAO",

      },
      {
        "codigo": "vsalsedprv",
        "descricao": "DESCONTO PREVIDENCIA",

      },
      {
        "codigo": "vsalsedrrf",
        "descricao": "DESCONTO IRRF",

      },
      {
        "codigo": "vsalsedtot",
        "descricao": "DESCONTOS COMPULSORIOS",

      },
      {
        "codigo": "vsalseliqd",
        "descricao": "VENCIMENTO LIQUIDO",

      },
      {
        "codigo": "vsalsedife",
        "descricao": "DIFERENCA VENCIMENTO MES",

      },
      {
        "codigo": "tslserulat",
        "descricao": "DATA E HORA EVENTO",

      },
      {
        "codigo": "eslserlotacao",
        "descricao": "LOTACAO",

      },
      {
        "codigo": "dslderadmissao",
        "descricao": "DATA ADMISSAO",

      },
      {
        "codigo": "dslserdesligamento",
        "descricao": "DATA DESLIGAMENTO",

      },
      {
        "codigo": "aslserjornadamensal",
        "descricao": "JORANADA MENSAL",

      }
      ]

In [ ]:
# Renomeando as colunas com base nas discrições do dicionario de dados para nomes mais intuitivos
for campo in dict_dados:
    df = df.rename(columns={campo['codigo']: campo['descricao']})

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1398332 entries, 0 to 1398331
Data columns (total 34 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   ANO                            1398332 non-null  object
 1   MES                            1398332 non-null  int64
 2   CPF                            1398332 non-null  object
 3   MATRICULA                      1398332 non-null  int64
 4   NOME                           1398332 non-null  object
 5   SECRETARIA/ORGAO               1398332 non-null  object
 6   CATEGORIA                      1398332 non-null  object
 7   CARGO                          1398332 non-null  object
 8   FUNCAO                         1398332 non-null  object
 9   VENCIMENTO CARGO               1398332 non-null  float64
 10  VENCIMENTO FUNCAO              1398332 non-null  float64
 11  REMUNERACAO                    1398332 non-null  float64
 12  VENCIMENTO FERIAS              1398332 non-null  float64
 13  VENCIMENTO NATAL               1398332 non-null  float64
 14  VENCIMENTOS OUTROS             1398332 non-null  float64
 15  TOTAL PROVENTOS                1398332 non-null  float64
 16  DESCONTOS EXCEDENTES           1398332 non-null  float64
 17  DESCONTO FALTA OU RESTITUICAO  1398332 non-null  float64
 18  DESCONTO PREVIDENCIA           1398332 non-null  float64
 19  DESCONTO IRRF                  1398332 non-null  float64
 20  DESCONTOS COMPULSORIOS         1398332 non-null  float64
 21  VENCIMENTO LIQUIDO             1398332 non-null  float64
 22  DIFERENCA VENCIMENTO MES       1398332 non-null  float64
 23  DATA E HORA EVENTO             1398332 non-null  object
 24  esalseunidade                  1397891 non-null  object
 25  DATA ADMISSAO                  1398296 non-null  object
 26  DATA DESLIGAMENTO              285220 non-null   object
 27  JORANADA MENSAL                1398296 non-null  float64
 28  esalseinstrucao                1394057 non-null  object
 29  esalsegenero                   1398330 non-null  object
 30  dsalseaposentadoria            344830 non-null   object
 31  esalseadministracao            1398332 non-null  object
 32  LOTACAO                        1398332 non-null  object
 33  eselsesituacao                 1398332 non-null  object
dtypes: float64(15), int64(2), object(17)
memory usage: 362.7+ MB

In [94]:
df.esalseinstrucao.unique()

array(['Mdio Completo', 'Mdio Incompleto', 'Superior Incompleto',
       'Fundamental 2 Incompleto', 'Ps-graduao Completo',
       'Superior Completo', 'Fundamental 2 Completo', 'Mestrado Completo',
       'Analfabeto', 'Fundamental 1 Completo', 'Fundamental 1 Incompleto',
       'Indefinido', nan, 'Doutorado Completo'], dtype=object)

In [79]:
df.nunique(dropna=False)

ANO                                   3
MES                                  12
CPF                               35744
MATRICULA                         47933
NOME                              49371
SECRETARIA/ORGAO                     10
CATEGORIA                            15
CARGO                               613
FUNCAO                              126
VENCIMENTO CARGO                   5726
VENCIMENTO FUNCAO                   331
REMUNERACAO                       25462
VENCIMENTO FERIAS                 14472
VENCIMENTO NATAL                  36912
VENCIMENTOS OUTROS                63159
TOTAL PROVENTOS                  134297
DESCONTOS EXCEDENTES                704
DESCONTO FALTA OU RESTITUICAO      5507
DESCONTO PREVIDENCIA              22247
DESCONTO IRRF                     39108
DESCONTOS COMPULSORIOS            52618
VENCIMENTO LIQUIDO               121022
DIFERENCA VENCIMENTO MES          20767
DATA E HORA EVENTO                    3
esalseunidade                      1564
DATA ADMISSAO                      8396
DATA DESLIGAMENTO                  1746
JORANADA MENSAL                      47
esalseinstrucao                      14
esalsegenero                          4
dsalseaposentadoria                2741
esalseadministracao                   2
LOTACAO                              41
eselsesituacao                        3
dtype: int64

In [88]:
# Verificando a qauntidade de NaN
df.isna().sum()

ANO                                    0
MES                                    0
CPF                                    0
MATRICULA                              0
NOME                                   0
SECRETARIA/ORGAO                       0
CATEGORIA                              0
CARGO                                  0
FUNCAO                                 0
VENCIMENTO CARGO                       0
VENCIMENTO FUNCAO                      0
REMUNERACAO                            0
VENCIMENTO FERIAS                      0
VENCIMENTO NATAL                       0
VENCIMENTOS OUTROS                     0
TOTAL PROVENTOS                        0
DESCONTOS EXCEDENTES                   0
DESCONTO FALTA OU RESTITUICAO          0
DESCONTO PREVIDENCIA                   0
DESCONTO IRRF                          0
DESCONTOS COMPULSORIOS                 0
VENCIMENTO LIQUIDO                     0
DIFERENCA VENCIMENTO MES               0
DATA E HORA EVENTO                     0
esalseunidade                        441
DATA ADMISSAO                         36
DATA DESLIGAMENTO                1113112
JORANADA MENSAL                       36
esalseinstrucao                     4275
esalsegenero                           2
dsalseaposentadoria              1053502
esalseadministracao                    0
LOTACAO                                0
eselsesituacao                         0
dtype: int64